:root {
    --transition-duration: 0.3s;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

@media (min-width: 1000px) {
    * {
        font-size: 17px;
    }
}


/* Container */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 15px 0px 15px;
}

@media (min-width: 1000px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.container_background-color {
    background-color: #FFF;
}

.container_height {
    height: 130vh;
}

@media (min-width: 510px) {
    .container_padding-top-settings-page {
        padding-top: 60px;
    }
}

@media (min-width: 768px) {
    .container_padding-top {
        padding-top: 60px;
    }
}

.container_flex {
    display: flex;
    flex-direction: column;
}

/* Link */
.link {
    color: black;
    outline: none;
}

.link:focus-visible {
    color: #02C;
}

.link:hover {
    color: #02C;
}

.link:active {
    color: #001BA3;
}

/* Menu */
.menu__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

@media (min-width: 768px) {
    .menu__list {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    .menu__list {
        gap: 30px;
    }
}

.menu__item {
    width: fit-content;
}

.menu__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    outline: none;
    text-decoration: none;
}

.menu__link span {
    font-size: 18px;
    font-weight: 600;
}

.menu__link:focus-visible span {
    text-decoration: underline;
    color: #02C;
}

.menu__link:hover span {
    text-decoration: underline;
}

.menu__link:active span {
    color: #02C;
}

.menu__link_underline {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .menu__link {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    .menu__link span {
        font-size: 19px;
    }
}

.menu__icon {
    width: 40px;
    height: 40px;
}

@media (min-width: 1400px) {
    .menu__icon {
        width: 45px;
        height: 45px;
    }
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    position: relative;
}

.header__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(69deg, rgba(68,65,103,1) 56%, rgba(68,112,178,1) 91%);
    z-index: 2;
}

.header__container > div {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (min-width: 1000px) {
    .header__container > div {
        padding: 0px 40px;
    }
}

.header__body {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__profile-info {
    display: inline-grid;
    grid-template-columns: 50px 180px;
    column-gap: 10px;
    align-items: center;
    z-index: 5;
}

@media (min-width: 425px) {
    .header__profile-info {
        grid-template-columns: 50px 280px;
    }
}

@media (min-width: 768px) {
    .header__profile-info {
        grid-template-columns: 50px 320px;
    }
}

@media (min-width: 1000px) {
    .header__profile-info {
        grid-template-columns: 50px 450px;
    }
}

@media (min-width: 1400px) {
    .header__profile-info {
        grid-template-columns: 60px 800px;
    }
}

.header__picture {
    width: 100%;
    height: 50px;
    grid-column: 1;
    border-radius: 50%;
    object-fit: cover;
    background-color: #383838;
}

@media (min-width: 1400px) {
    .header__picture {
        height: 60px;
    }
}

.header__username {
    color: #FFF;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header__not-auth {
    height: 50px;
}

.header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
    transition: all var(--transition-duration) ease 0s;
}

.header__burger::before, .header__burger::after {
    content: '';
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all var(--transition-duration) ease 0s;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__burger span {
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 2px;
    top: 12px;
}

@media (min-width: 768px) {
    .header__burger {
        display: none;
    }
}

.header__burger_opened span {
    transform: scale(0);
}

.header__burger_opened::before {
    transform: rotate(45deg);
    top: 11px;
}

.header__burger_opened::after {
    transform: rotate(-45deg);
    bottom: 12px;
}

.header__menu {
    position: fixed;
    background-color: #336691;
    width: 100%;
    top: -100%;
    left: 0;
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all var(--transition-duration) ease 0s;
}

.header__menu_opened {
    top: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .header__menu {
        display: flex;
        position: relative;
        z-index: 2;
        background-color: transparent;
        padding: 0;
        top: 0;
        width: fit-content;
        align-items: center;
        justify-content: center;
    }
}

#logoutFormHidden {
    display: none;
}

main {
    background-color: rgba(0, 34, 204, 0.25);
    padding-top: 70px;
    width: 100%;
    min-height: 100vh;
}

@media (min-width: 768px) {
    main {
        padding-top: 90px;
    }
}

@media (min-width: 1000px) {
    main {
        padding-top: 92px;
    }
}

@media (min-width: 1400px) {
    main {
        padding-top: 97px;
    }
}

/* Credentials section */
.credentials {
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .credentials {
        margin-top: 60px;
        max-width: 490px;
        height: fit-content;
        border-radius: 8px;
    }

    .credentials > .container {
        padding: 40px 70px;
    }
}

.credentials__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.credentials__form_hidden {
    display: none;
}

.credentials__container {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Title */
.title {
    font-size: 17px;
    font-weight: 600;
}

@media (min-width: 600px) {
    .credentials__title_hidden {
        display: none;
    }
}

@media (min-width: 768px) {
    .title_hidden {
        display: none;
    }
}

@media (min-width: 1000px) {
    .title {
        font-size: 18px;
    }
}

/* Input */
.input {
    position: relative;
    z-index: 1;
}

.input  input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px 15px;
    outline: none;
    resize: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.input input:focus {
    outline: 1px solid #02C;
}

.input__label {
    position: absolute;
    color: #999B9E;
    top: 13px;
    left: 10px;
    padding: 0 5px;
    transition: all 0.2s ease 0s;
    z-index: -1;
    cursor: pointer;
}

.input input:focus + .input__label,
.input input:not(:placeholder-shown) + .input__label {
    background-color: #FFF;
    top: -11px;
    z-index: 2;
}

/* Button */
.button {
    border: none;
    background-color: #02C;
    color: #FFF;
    padding: 13px 0px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    outline: none;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease 0s;
}

.button:focus-visible {
    background-color: #001BA3;
}

.button:hover {
    background-color: #001BA3;
}

.button:active {
    background-color: #00147A;
}

.button_delete-account {
    background-color: #A52A1B;
}

.button_delete-account:focus-visible {
    background-color: #710F00;
}

.button_delete-account:hover {
    background-color: #710F00;
}

.button_delete-account:active {
    background-color: #5F0E01;
}

.credentials__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-top: 2px solid #73767A;
    padding-top: 25px;
    margin-top: 10px;
}

.credentials__navigation span {
    color: #73767A;
    text-decoration: underline;
    cursor: pointer;
}


/* Section on Resend Link page */
@media (min-width: 425px) {
    .credentials_max-width {
        margin-top: 60px;
        max-width: 325px !important;
    }
}

@media (min-width: 425px) {
    .credentials_height-fit-content {
        height: fit-content !important;
    }
}

@media (min-width: 425px) {
    .container_padding-unset {
        padding: unset !important;
    }
}

/* Content container */
.content-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-container__settings {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 768px) {
    .content-container__settings {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .content-container__settings-category-id-select {
        grid-row: 2;
        grid-column: 1;
    }

    .content-container__settings-syntax-id-select {
        grid-row: 3;
        grid-column: 1;
    }

    .content-container__settings-interval-id-select {
        grid-row: 1;
        grid-column: 2;
    }

    .content-container__settings-highlight-checkbox {
        grid-row: 2;
        grid-column: 2;
    }

    .content-container__settings-button {
        grid-row: 3;
        grid-column: 2;
    }

    .content-container__settings-post-visibility-select_auth {
        grid-row: 2;
        grid-column: 2;
    }

    .content-container__settings-highlight-checkbox_auth {
        grid-row: 3;
        grid-column: 2;
    }

    .content-container__settings-button_auth {
        grid-row: 4;
        grid-column: 2;
    }
}

@media (min-width: 1200px) {
    .content-container__settings {
        display: grid;
        column-gap: 100px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 4fr 4fr 1.9fr 2fr;
    }

    .content-container__settings-category-id-select {
        grid-row: 2;
        grid-column: 1;
    }

    .content-container__settings-syntax-id-select {
        grid-row: 3;
        grid-column: 1;
    }

    .content-container__settings-interval-id-select {
        grid-row: 1;
        grid-column: 2;
    }

    .content-container__settings-highlight-checkbox {
        grid-row: 2;
        grid-column: 2;
    }

    .content-container__settings-button {
        grid-row: 3;
        grid-column: 4;
    }

    .content-container__settings-post-visibility-select_auth {
        grid-row: 2;
        grid-column: 2;
    }

    .content-container__settings-highlight-checkbox_auth {
        grid-row: 3;
        grid-column: 2;
    }

    .content-container__settings-button_auth {
        grid-row: 3;
        grid-column: 4;
    }
}

/* Select */

.select {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    outline: none;
}

.select:focus-visible {
    outline: 1px solid #02C;
}

.select_active {
    outline: 1px solid #02C;
}

.select__trigger-wrapper {
    position: relative;
}

.select__trigger {
    padding: 12px 40px 12px 15px;
    background-color: #FFF;
    color: #999B9E;
    border-radius: 8px;
}

.select__dropdown {
    position: absolute;
    width: 14px;
    height: 14px;
    top: calc(50% - 7px);
    right: 15px;
    transition: all var(--transition-duration) ease 0s;
}

.select__dropdown_rotation {
    transform: rotate(180deg);
    transition: all var(--transition-duration) ease 0s;
}

.select__trigger_selected {
    color: black;
}

.select__options-wrapper {
    position: absolute;
    outline: 1px solid black;
    border-radius: 8px;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 100;
    overflow: hidden;
}

.select__options {
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
    padding-left: 0;
}

.select__options_hidden {
    display: none;
}

.select__option {
    padding: 12px 40px 12px 15px;
}

.select__option:hover {
    background-color: #999999;
}

/* Textarea */

.textarea {
    position: relative;
    z-index: 1;
}

.textarea textarea {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px 15px;
    outline: none;
    resize: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: transparent;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.textarea textarea:focus {
    outline: 1px solid #02C;
}

.textarea__label {
    position: absolute;
    color: #999B9E;
    top: 13px;
    left: 10px;
    padding: 0 5px;
    transition: all 0.2s ease 0s;
    z-index: -1;
    cursor: pointer;
}

.textarea textarea:focus + .textarea__label,
.textarea textarea:not(:placeholder-shown) + .textarea__label {
    background-color: #FFF;
    top: -11px;
    z-index: 2;
}

.textarea_min-height {
    min-height: 350px;
}

/* Checkbox */

.checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    width: fit-content;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.checkbox .checkmark {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid black;
    background-color: #FFF;
    transition: background-color var(--transition-duration), border-color var(--transition-duration);
}

.checkbox:hover .checkmark {
    border-color: #02C;
}

.checkbox:hover input[type="checkbox"]:checked + .checkmark {
    background-color: #001BA3;
}

.checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #02C;
    border-color: #02C;
}

.checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 12px;
    left: 9px;
    top: 4px;
    border: solid #FFF;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
}

/* CodeMirror5 Editor */

.CodeMirror {
    clip-path: unset !important;
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    resize: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    cursor: pointer;
    min-height: 350px;
    padding: 12px 11px;
    height: fit-content;
    overflow: unset;
    z-index: 1;
}

.CodeMirror-focused {
    outline: 1px solid #02C;
}

.CodeMirror-scroll {
    min-height: 300px;
    margin-right: unset;
    overflow: hidden !important;
}

.CodeMirror-lines {
    cursor: pointer;
}

.CodeMirror-sizer {
    border-right: unset;
}

.CodeMirror-hscrollbar {
    margin-left: 7px;
    margin-right: 7px;
}

.CodeMirror__placeholder {
    position: absolute !important;
    color: #999B9E;
    top: 16px;
    left: 15px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    z-index: -1;
}

.CodeMirror__placeholder_top {
    position: absolute;
    display: inline-block;
    top: -11px;
    background-color: #FFF;
    z-index: 30;
}

.CodeMirror_border-top-unset {
    border-top: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

/* Post page CodeMirror div */

.CodeMirror_height-unset {
    min-height: unset;
    padding-bottom: 20px;
}

.CodeMirror-scroll_height-unset {
    min-height: unset;
    margin-bottom: unset;
    padding-bottom: unset;
}

.CodeMirror-focused_unset {
    outline: unset;
}

.CodeMirror-hscrollbar_visibility {
    visibility: visible !important;
}

/* Author metadata on Post page and Profile page*/

.author__metadata {
    display: flex;
    flex-direction: row;
    column-gap: 30px;;
}

.author__link {
    display: grid;
    grid-template-columns: 45px auto;
    outline: none;
    column-gap: 12px;
    align-items: end;
    max-width: fit-content;
}

.author__link:focus-visible span {
    color: #02C;
}

.author__link:hover span {
    color: #02C;
}

.author__link:active span {
    color: #001BA3;
}

.author__link_guest:hover span {
    color: black;
}

.author__picture {
    background-color: #383838;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.author__link span {
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.author__name {
    text-decoration: underline;
}

.author__link-space {
    background-color: red;
    width: 100%;
    height: 100%;
}

.author__created-at {
    display: grid;
    grid-template-columns: 24px auto;
    column-gap: 15px;
    align-items: end;
}

.author__created-at img {
    width: 24px;
}

.author__created-at span {
    font-weight: 300;
}

/* Post metadata */

.post__metadata-top {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 15px 0px;
    row-gap: 15px;
}

@media (min-width: 768px) {
    .post__metadata-top {
        flex-direction: row;
        column-gap: 35px;
    }
}

.post__metadata-top_column-gap-unset {
    column-gap: unset;
}

.post__title {
    font-size: 17px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (min-width: 1000px) {
    .post__title {
        font-size: 18px;
    }
}

.post__datetime-metadata {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    min-width: fit-content;
}

.post__datetime-metadata div {
    display: flex;
    gap: 15px;
    height: 24px;
    align-items: center;
    min-width: fit-content;
}

.post__datetime-metadata div img {
    height: 100%;
}

.post__datetime-metadata div span {
    font-weight: 300;
}

/* Post metadata above post */

.post__metadata-above-post {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom: 1px solid rgba(115, 118, 122, 0.6);
    background-color: #F7F7F7;
}

@media (min-width: 768px) {
    .post__metadata-above-post {
        flex-direction: row;
        justify-content: space-between;
    }
}

.post__syntax-size {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.post__metadata-tags {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (min-width: 510px) {
    .post__metadata-tags {
        flex-direction: row;
        column-gap: 15px;
        align-items: center;
    }
}

.post__metadata-tag {
    background-color: rgba(153, 155, 158, 0.6);
    border-radius: 8px;
    padding: 10px 8px;
    width: fit-content;
}

.post__actions {
    display: grid;
    grid-template-columns: auto 35px 35px;
    column-gap: 15px;
    align-items: center;
    max-width: 365px;
}

.post__actions-2-columns {
    grid-template-columns: 35px 35px;
}

.post__copy-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__copy-button_span-3 {
    grid-column: span 3;
}

.post__success-copy {
    width: 12px;
    height: 20px;
    border: solid #518100;
    border-width: 0px 4px 4px 0px;
    transform: rotate(45deg);
    margin-right: 12px;
}

.post__success-copy_hidden {
    display: none;
}

.post__actions .button {
    min-width: 120px;
    max-width: 265px;
}

.post__actions-img {
    height: 35px;
}

/* Table */

.table {
    overflow-x: auto;
    width: 100%;
    min-height: fit-content;
    padding-top: 30px;
}

.table table {
    border: 3px solid #CCD3F5;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table table caption {
    width: fit-content;
    font-size: 17px;
    padding-bottom: 15px;
}

@media (min-width: 1000px) {
    .table table caption {
        font-size: 18px;
    }
}

.table table th {
    background-color: #1567E6;
    border: 1px solid black;
    border-width: 0px 0px 1px 1px;
    color: #FFF;
    font-weight: 600;
    text-align: left;
    padding: 13px 10px;
    white-space: nowrap;
}

.table table th:first-child {
    border-left-width: 0px;
}

.table table td {
    background-color: #FFF;
    border: 1px solid #E9E9EB;
    border-width: 0px 0px 0px 2px;
    padding: 13px 10px;
    white-space: nowrap;
}

.table table td:first-child {
    border-left-width: 0px;
}

.table table tr:nth-child(even) td {
    background-color: #E9E9EB;
    border: 1px solid #FFF;
    border-width: 0px 0px 0px 2px;
}

.table table tr:nth-child(even) td:first-child {
    border-left-width: 0px;
}

.table__actions {
    width: 105px;
}

/* Settings page */

.settings {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    margin: 0 auto;
}

.settings > .container {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 510px) {
    .settings {
        margin-top: 60px;
        max-width: 470px;
        height: fit-content;
        border-radius: 8px;
    }

    .settings > .container {
        padding-bottom: 30px;
    }
}

@media (min-width: 1400px) {
    .settings {
        max-width: 490px;
    }

    .settings > .container {
        padding: 40px 50px;
    }
}

.settings__account {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    background-color: #FFF;
    z-index: 1;
}

.settings__password {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    background-color: #FFF;
    z-index: 1;
}

.settings_hidden {
    display: none;
}

.settings__title-wrapper {
    display: grid;
    grid-template-columns: 30px auto;
    column-gap: 20px;
    align-items: center;
}

@media (min-width: 1400px) {
    .settings__title-wrapper {
        display: none;
    }
}

.settings__back-img {
    width: 30px;
    cursor: pointer;
}

.settings__picture {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

@media (min-width: 510px) {
    .settings__picture {
        flex-direction: row;
        align-items: start;
        column-gap: 80px;
    }
}

.settings__picture-img {
    width: 130px;
    background-color: #383838;
    border-radius: 50%;
}

@media (min-width: 1400px) {
    .settings__picture-img {
        width: 140px;
    }
}

.settings__account-info {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.settings__account-info-labels {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    white-space: nowrap;
}

.settings__account-info-content {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 30px;
}

.settings__account-info-content > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.settings__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    top: 0;
}

.settings__menu > .container {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 510px) {
    .settings__menu {
        border-radius: 8px;
        height: fit-content;
    }

    .settings__menu > .container {
        padding-bottom: 30px;
    }
}

@media (min-width: 1400px) {
    .settings__menu {
        left: 100%;
        margin-left: 20px;
        width: fit-content;
    }

    .settings__menu:hover .settings__menu-option {
        column-gap: 15px;
    }

    .settings__menu:hover .settings__menu-option > span {
        opacity: unset;
        max-width: unset;
        overflow:unset;
    }

    .settings__menu > .container {
        padding: 10px;
    }

    .settings__menu > .container > .title {
        display: none;
    }
}

.settings__menu-options {
    list-style: none;
    padding-top: 30px;
}

@media (min-width: 1400px) {
    .settings__menu-options {
        padding-top: unset;
        row-gap: 10px;
    }
}

.settings__menu-option {
    display: grid;
    grid-template-columns: 35px auto 23px;
    align-items: center;
    column-gap: 15px;
    border-radius: 8px;
    padding: 10px 5px;
    outline: none;
}

@media (min-width: 1400px) {
    .settings__menu-option {
        grid-template-columns: 35px auto;
        column-gap: 0px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .settings__menu-option:last-child {
        margin-bottom: unset;
    }

    .settings__menu-option > span {
        max-width: 0;
        opacity: 0;
        overflow: hidden;
    }
}

.settings__menu-option:focus-visible {
    background-color: rgba(153, 155, 158, 0.6);
}

.settings__menu-option:hover {
    background-color: rgba(153, 155, 158, 0.6);
    cursor: pointer;
}

.settings__menu-option:active {
    background-color: rgba(153, 155, 158, 1);
}

.settings__menu-option_active {
    background-color: rgba(153, 155, 158, 1);
}

.settings__menu-option-img {
    width: 35px;
}

.settings__move-to-img {
    width: 23px;
    transform: rotate(-90deg);
}

@media (min-width: 1400px) {
    .settings__move-to-img {
        display: none;
    }
}

/* Upload button */

.upload-button {
    display: flex;
    align-items: center;
    border: 1px dashed black;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

.upload-button > label {
    display: flex;
    align-items: center;
    text-decoration: underline;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    background-image: url('/img/upload_file.png');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: calc(100% - 12px) center;
}

.upload-button > label:focus-visible {
    background-color: rgba(153, 155, 158, 0.8);
}

.upload-button > label:active {
    background-color: rgba(153, 155, 158, 0.8);
}

.upload-button > input {
    display: none;
}

/* Delete account popup */

.delete-account-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(153, 155, 158, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.delete-account-popup_visible {
    display: flex;
}

.delete-account-popup__content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border-radius: 8px;
    background-color: #FFF;
    padding: 20px 10px 30px 10px;
    width: 100%;
    max-width: 425px;
}

@media (min-width: 425px) {
    .delete-account-popup__content > form {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.delete-account-popup__content:first-child {
    align-items: end;
}

.delete-account-popup__content > img {
    width: 30px;
    cursor: pointer;
}

.delete-account-popup__content > form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
}

/* Message */

.message {
    display: grid;
    grid-template-columns: 32px auto;
    column-gap: 15px;
    width: 100%;
    border-radius: 8px;
    list-style: none;
    background-color: #FFF;
    padding: 15px;
    font-size: 15px;
}

@media (min-width: 1000px) {
    .message {
        font-size: 16px;
    }
}

.message > img {
    width: 32px;
}

.message__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.message__content > li {
    word-wrap: break-word;
    word-break: break-word;
}

.message_error {
    border: 1px solid #F44336;
    border-left-width: 8px;
}

.message_success {
    border: 1px solid #8BC34A;
    border-left-width: 8px;
}

.message_info {
    border: 1px solid #999B9E;
    border-left-width: 8px;
}

.message-credentials-wrapper {
    margin: 0 auto;
    background-color: #FFF;
}

@media (min-width: 600px) {
    .message-credentials-wrapper {
        background-color: transparent;
    }

    .message-credentials-wrapper > .container {
        padding-top: 60px;
    }
}

.message-wrapper {
    margin: 0 auto;
    background-color: #FFF;
}

@media (min-width: 768px) {
    .message-wrapper > .container {
        padding-top: 60px;
    }
}

.message-wrapper_height {
    height: 100vh;
}

@media (min-width: 510px) {
    .message-wrapper_background-color {
        background-color: transparent;
    }
}

/* No posts message container on Profile page */

.no-posts-message {
    padding-top: 30px;
}

/* Register info message on Post page for guest*/

.bottom-message {
    padding-top: 80px;
}

/* Hidden textarea for text copy in browsers that don't support navigator.clipboard */

.text_hidden {
    position: fixed;
    left: -9999px;
}