:root {
    --transition-duration: 0.3s;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

@media (min-width: 1000px) {
    * {
        font-size: 17px;
    }
}


/* Container */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 15px 0px 15px;
}

/* Menu */
.menu__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

@media (min-width: 768px) {
    .menu__list {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    .menu__list {
        gap: 30px;
    }
}

.menu__item {
    width: fit-content;
}

.menu__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    outline: none;
    text-decoration: none;
}

.menu__link span {
    font-size: 18px;
    font-weight: 600;
}

.menu__link:focus-visible span {
    text-decoration: underline;
    color: #02C;
}

.menu__link:hover span {
    text-decoration: underline;
}

.menu__link:active span {
    color: #02C;
}

.menu__link_underline {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .menu__link {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    .menu__link span {
        font-size: 19px;
    }
}

.menu__icon {
    width: 40px;
    height: 40px;
}

@media (min-width: 1400px) {
    .menu__icon {
        width: 45px;
        height: 45px;
    }
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    position: relative;
}

.header__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(69deg, rgba(68,65,103,1) 56%, rgba(68,112,178,1) 91%);
    z-index: 2;
}

.header__container > div {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header__body {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__profile-info {
    display: inline-grid;
    grid-template-columns: 50px 180px;
    column-gap: 10px;
    align-items: center;
    z-index: 5;
}

@media (min-width: 425px) {
    .header__profile-info {
        grid-template-columns: 50px 280px;
    }
}

@media (min-width: 768px) {
    .header__profile-info {
        grid-template-columns: 50px 320px;
    }
}

@media (min-width: 1000px) {
    .header__profile-info {
        grid-template-columns: 50px 500px;
    }
}

@media (min-width: 1400px) {
    .header__profile-info {
        grid-template-columns: 60px 800px;
    }
}

.header__picture {
    width: 100%;
    height: 50px;
    grid-column: 1;
    border-radius: 50%;
    object-fit: cover;
    background-color: #383838;
}

@media (min-width: 1400px) {
    .header__picture {
        height: 60px;
    }
}

.header__username {
    color: #FFF;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header__not-auth {
    height: 50px;
}

.header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
    transition: all var(--transition-duration) ease 0s;
}

.header__burger::before, .header__burger::after {
    content: '';
    background-color: #FFF;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all var(--transition-duration) ease 0s;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__burger span {
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 2px;
    top: 12px;
}

@media (min-width: 768px) {
    .header__burger {
        display: none;
    }
}

.header__burger_opened span {
    transform: scale(0);
}

.header__burger_opened::before {
    transform: rotate(45deg);
    top: 11px;
}

.header__burger_opened::after {
    transform: rotate(-45deg);
    bottom: 12px;
}

.header__menu {
    position: fixed;
    background-color: #336691;
    width: 100%;
    top: -100%;
    left: 0;
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all var(--transition-duration) ease 0s;
}

.header__menu_opened {
    top: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .header__menu {
        display: flex;
        position: relative;
        z-index: 2;
        background-color: transparent;
        padding: 0;
        top: 0;
        width: fit-content;
        align-items: center;
        justify-content: center;
    }
}

#logoutFormHidden {
    display: none;
}

main {
    background-color: rgba(0, 34, 204, 0.25);
    padding-top: 70px;
    width: 100%;
    min-height: 100vh;
}

@media (min-width: 768px) {
    main {
        padding-top: 90px;
    }
}

@media (min-width: 1000px) {
    main {
        padding-top: 92px;
    }
}

@media (min-width: 1400px) {
    main {
        padding-top: 97px;
    }
}

/* Credentials section */
.credentials {
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .credentials {
        margin-top: 60px;
        max-width: 490px;
        height: fit-content;
        border-radius: 8px;
    }

    .credentials > .container {
        padding: 40px 70px;
    }
}

.credentials__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.credentials__form_hidden {
    display: none;
}

.credentials__container {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Title */
.title {
    font-size: 17px;
    font-weight: 600;
}

@media (min-width: 600px) {
    .title {
        display: none;
    }
}

@media (min-width: 1000px) {
    .title {
        font-size: 18px;
    }
}

/* Input */
.input {
    position: relative;
    z-index: 1;
}

.input  input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px 15px;
    outline: none;
    resize: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.input input:focus {
    outline: 1px solid #02C;
}

.input-label {
    position: absolute;
    color: #999B9E;
    top: 13px;
    left: 10px;
    padding: 0 5px;
    transition: all 0.2s ease 0s;
    z-index: -1;
    cursor: pointer;
}

.input input:focus + .input-label,
.input input:not(:placeholder-shown) + .input-label {
    background-color: #FFF;
    top: -11px;
    z-index: 2;
}

/* Button */
.button {
    border: none;
    background-color: #02C;
    color: #FFF;
    padding: 13px 0px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    outline: none;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease 0s;
}

.button:focus-visible {
    background-color: #001BA3;
}

.button:hover {
    background-color: #001BA3;
}

.button:active {
    background-color: #00147A;
}

.credentials__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-top: 2px solid #73767A;
    padding-top: 25px;
    margin-top: 10px;
}

.credentials__navigation span {
    color: #73767A;
    text-decoration: underline;
    cursor: pointer;
}